h3 {
  margin-top: 0;
}

.map-link {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.map-link a {
  text-decoration: none;
  color: #2a78e4;
  font-size: 18px;
  font-weight: bold;
}

.dashboard-todo,
.dashboard-cards,
.dashboard-weather {
  height: 30vh;
  margin: 50px 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
}

.dashboard-todo {
  position: relative;
}

.todo-list {
  overflow: scroll;
  height: 80%;
}

.todos-container {
  display: flex;
  margin: 20px 0;
}

.todo-data-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.todo-title {
  width: 100%;
  padding: 0 10px;
  background: red;
  border-radius: 12px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.edit-delete-todo {
  display: flex;
}

.todo-title a {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.todo-title a svg {
  height: 15px;
  width: 15px;
  fill: white;
}

.todo-title b {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.todo-title span, .card-edit-delete span {
  cursor: pointer;
}

.todo-title span svg {
  width: 10px;
  height: 10px;
  fill: white;
}

.dashboard-cards {
  position: relative;
}

.dashboard-sales {
  margin: 20px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
}

.chart-container {
  height: 20vh;
}

.dashboard-sales canvas {
  object-fit: contain;
}

.dashboard-weather {
}

.new-todo,
.new-card {
  position: absolute;
  right: -10px;
  bottom: -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.new-todo {
  background: red;
}

.new-card {
  background: black;
}

.new-todo svg,
.new-card svg {
  width: 100%;
  height: 100%;
  fill: white;
}


.card-list {
  overflow: scroll;
  height: 80%;
  display: flex;
  align-items: center;
}

.card {
  background: black;
  height: 15vh;
  width: 20vw;
  width: 50vw;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-around;
  padding: 10px;
  margin-right: 20px;
  position: relative;
}

.card div:nth-child(2) {
  text-align: center;
}

.card div:nth-child(2) small {
  letter-spacing: 5px;
}

.card div:nth-child(3) {
  text-align: right;
}

.card-edit-delete {
  position: absolute;
  top: 5%;
  right: 5%;
}

.card-edit-delete a {
  padding: 0 10px;
}

.card-edit-delete svg {
  fill: white;
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  .sections-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dashboard-todo,
  .dashboard-cards,
  .dashboard-weather {
    margin: 20px;
  }

  .dashboard-todo,
  .dashboard-cards,
  .dashboard-sales,
  .dashboard-weather {
    height: calc(40vh - 40px);
    width: 40%;
  }

  .new-todo,
  .new-card {
    position: absolute;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .card { 
    height: 20vh;
    width: 20vw;
  }
}
