<div class="dashboard-container">
  <div class="map-link">
    <a routerLink="/map" class="logo">Map</a>
  </div>
  <div class="sections-container">
    <div class="dashboard-todo">
      <h3>Lista de Actividades</h3>
    </div>
    <div class="dashboard-cards">
      <h3>Tarjetas de Crédito</h3>
    </div>
    <div class="dashboard-sales">
      <div>
        <h3>Ventas</h3>
      </div>
      <div class="chart-container">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    <div class="dashboard-weather">
      <h3>Clima</h3>
    </div>
  </div>
</div>