* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: sans-serif;
}
